:root {
  --swiper-navigation-size: 30px;
}
.swiper-button-prev,
.swiper-button-next {
  color: #84B7EA;
  background: $color-white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.swiper-container {
  max-width: 1250px;
}
.--swiper-navigation-size {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}