.main {
  max-width: 1920px;
  margin: 0 auto;

  &_index {
    background-color: $color-gray--20;
  }
  &_about {
    background: linear-gradient(180deg, #FAFCFF 0%, #EDF6FF 39.06%, #FAFCFF 96.35%);
    position: relative;
  }
  &_questions {
    background: #fafcff;
  }
}
