.main {
  &_notFound {
    background: linear-gradient(180deg, #FAFCFF 0%, #EDF6FF 39.06%, #FAFCFF 96.35%);
  }
  &_serverError {
    background: #fafcff;
  }
  &_index {
    background-color: $color-gray--20;
  }
  &_about {
    background: linear-gradient(180deg, #FAFCFF 0%, #EDF6FF 39.06%, #FAFCFF 96.35%);
    position: relative;
  }
  &_questions {
    background: #fafcff;
    position: relative;
  }
  &_partners {
    background: #F9FCFF;
    position: relative;
  }
  &_lk {
    background: #f8f8f8;
    padding: 45px 50px 275px 50px;
  }
  &_rates {
    background: linear-gradient(180deg, #FAFCFF 0%, #EDF6FF 39.06%, #FAFCFF 96.35%);
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .main {
    &_lk {
      padding: 50px 15px;
    }
  }
}
