.main {
  background-color: $color-gray--20;
  max-width: 1920px;
  margin: 0 auto;
  &_2 {

    max-width: 1920px;
    margin: 0 auto;
  }
  &_about {
    background: linear-gradient(180deg, #FAFCFF 0%, #EDF6FF 39.06%, #FAFCFF 96.35%);
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
  }
}
