.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  border-radius: 0.5rem;
  padding: 55px;
  width: 460px;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("~src/images/close.svg");
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-gray--d10;
    margin-bottom: 14px;
  }
  &__title {
    font-family: $font-family--montserrat;
    margin: 0 auto 39px auto;
    max-width: 267px;
    max-height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-blue;
    &:after {
      content: "";
      display: block;
      width: 80px;
      margin: 0 auto;
      padding-top: 19px;
      border-bottom: 4px solid #ff9700;
    }
  }
  &__input {
    background: #EDF6FF;
    border: 1px solid rgba(52, 52, 52, 0.2);
    box-sizing: border-box;
    height: 40px;
    margin-top: 6px;
    &:focus {
      border: 2px solid #3685D7;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  &__captcha {
    background: #EDF6FF;
    border: 2px solid #3685D7;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 24px;
    color: #000000;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  &__button {
    background: #3685D7;
    border-radius: 5px;
    width: 280px;
    height: 54px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    align-self: center;
    padding: 16px 32px;
    border: 0;
    cursor: pointer;
  }
}
@media screen and (max-width: $screen-w--xs) {
  .popup {
    padding: 25px;
    width: 380px;
  }
}
@media screen and (max-width: 460px) {
  .popup {
    padding: 15px;
    width: 250px;
    &__title {
      font-size: 16px;
      line-height: 1.1;
    }
    &__button {
      width: 200px;
    }
    &__input {
      margin-bottom: 5px;
    }
    &__close {
      top: -40px;
      right: 0;
    }
  }

}