.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: white;
  border-radius: 0.5rem;
  padding: 55px;
  width: 460px;
  &_delete-success {
    height: 280px;
  }
  &_success {
    height: 460px;
  }
  &__under-text {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $color-gray--d10;
    margin: 0 0 27px 0;
    &_thanks {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      padding-bottom: 210px;
      max-width: 245px;
      margin: 23px auto 0 auto;
    }
    &_reset {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      padding-bottom: 80px;
      max-width: 319px;
      margin: 23px auto 0 auto;
    }
    &_recovery {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      margin: 23px auto 34px auto;
    }
    &_question {
      max-width: 319px;
    }
  }
  &__link {
    position: absolute;
    top: 115px;
    right: 10px;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("~src/images/close.svg");
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__label {
    display: flex;
    flex-direction: column;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $color-gray--d10;
    margin-bottom: 14px;
    &_edit-employee {
      margin-bottom: 30px;
    }
    &_new-employee {
      margin-bottom: 30px;
    }
    &_recovery {
      margin-bottom: 40px;
    }
  }
  &__tech-support {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-gray--d10;
    margin: 0 auto 31px auto;
    word-break: break-word;
    &_title {
      text-transform: uppercase;
      font-weight: 600;
      color: $color-dark-blue;
      margin: 0 0 9px 0;
    }
  }
  &__description {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-gray--d10;
    margin: 0;
    &_start {
      margin: 0 auto 27px auto;
      max-width: 319px;
    }
  }
  &__title {
    font-family: $font-family--montserrat;
    margin: 0 auto 39px auto;
    max-width: 267px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-blue;
    &:after {
      content: "";
      display: block;
      width: 80px;
      margin: 0 auto;
      padding-top: 19px;
      border-bottom: 4px solid #ff9700;
    }
    &_delete-employee {
      font-family: $font-family--montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #001C46;
      margin-bottom: 46px;
    }
    &_delete-success {
      margin: auto;
      padding-top: 150px;
      &:after {
        display: none;
      }
    }
    &_success {
      margin: auto;
      padding-top: 40%;
      &:after {
        display: none;
      }
    }
    &_reg {
      margin-bottom: 22px;
    }
    &_thanks {
      padding-top: 210px;
      max-width: none;
    }
    &_reset {
      padding-top: 90px;
    }
    &_tech-support {
      max-width: initial;
    }
  }
  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__input {
    background: #EDF6FF;
    border: 1px solid rgba(52, 52, 52, 0.2);
    box-sizing: border-box;
    height: 40px;
    margin-top: 6px;
    &:focus {
      border: 2px solid #3685D7;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &_large {
      height: 120px;
      text-align: left;
    }
  }
  &__captcha {
    background: #EDF6FF;
    border: 2px solid #3685D7;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 24px;
    color: #000000;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    &_reg {
      margin: 14px 0 14px 0;
    }
  }
  &__button {
    background: #3685D7;
    border-radius: 5px;
    width: 280px;
    height: 54px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    align-self: center;
    padding: 16px 32px;
    border: 0;
    cursor: pointer;
    &_cancel {
      border: 2px solid #3685D7;
      box-sizing: border-box;
      border-radius: 5px;
      background: $color-white;
      color: $color-dark-blue;
    }
    &_delete-employee {
      margin-right: 30px;
    }
    &:focus {
      outline: none;
    }
  }
}
@media screen and (max-width: $screen-w--xs) {
  .popup {
    padding: 25px;
    width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .popup {
    &__title {
      &_success {
        padding-top: 60%;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .popup {
    padding: 15px;
    width: 250px;
    &__title {
      font-size: 16px;
      line-height: 1.1;
    }
    &__button {
      max-width: 250px;
    }
    &__input {
      margin-bottom: 5px;
    }
    &__close {
      top: -40px;
      right: 0;
    }
  }

}