.calculate-block {
  background: #FFFFFF;
  border: 2px solid #C8E3FF;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #C8E3FF;
  border-radius: 10px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  z-index: 4;
  &__title {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-blue;
    margin: 0 0 27px 0;
    max-width: 425px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 33px;
    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
  &__button {
    align-self: center;
  }
  &__text {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $color-gray--d10;
    margin: 0 33px 0 0;
    max-width: 236px;
    &_bottom {
      margin: 0;
    }
    &_bold {
      font-weight: 600;
      text-transform: uppercase;
      max-width: 240px;
    }
    &_discount {
      color: #125A00;
    }
    &_total {
      font-weight: 600;
    }
  }
  &__count-block {
    background: #EDF6FF;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    max-height: 53px;
    box-sizing: border-box;
    &_lk {
      padding: 13px;
      max-width: 154px;
      margin-right: 12px;
    }
  }
  &__minus {
    background: #3685D7;
    border-radius: 100%;
    width: 25px;
    height: 26px;
    margin-right: 33px;
    position: relative;
    cursor: pointer;
    &_lk {
      background: #84B7EA;
      margin: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__bottom-block {
    margin: 23px 0 35px 0;
    padding-top: 16px;
    border-top: 2px solid rgba(255, 151, 0, 0.4);
  }

  &__number {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-blue;
    margin: 0 33px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &_lk {
      margin: 0 17px 0 17px;
    }
  }
  &__minus-icon {
    position: absolute;
    top: 45%;
    padding-left: 4px;
    &_plus {
      position: absolute;
      transform: rotate(-90deg);
      top: 45%;
      left: 5px;
    }
  }
  &__row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 18px 0;
    &:last-child {
      margin: 0;
    }
  }
}
@media screen and (max-width: 1100px){
  .calculate-block {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .calculate-block {
    &__count-block {
      &_lk {
        margin: 0 0 15px 0;
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .calculate-block {
    padding: 15px;
    &__row {
      flex-direction: column;
    }
    &__text {
      margin: 0 0 15px 0;
      &_bottom {
        margin: 0;
      }
    }
  }
}
