.burger-menu {
  display: none;
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 30px;
  background: $color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  &__button {
    cursor: pointer;
    display: none;
  }
  &_opened {
    display: flex;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  &__element {
    list-style-type: none;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 950px) {
  .burger-menu {
    display: none;
    &_opened {
      display: none;
    }
  }
}
@media screen and (max-width: 950px) {
  .burger-menu {
    &__button {
      display: block;
    }
  }
}
