.notFound {
  max-width: 820px;
  margin: 0 auto;
  padding: 155px 0 170px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-blue;
    margin: 0;
  }
  &__subtitle {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: $color-dark-blue;
    margin: 0 0 62px 0;
  }
  &__description {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-gray--d10;
    margin: 0 0 62px 0;
  }
  &__button {
    padding: 20px;
    background: #3685D7;
    border-radius: 5px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-white;
    max-width: 400px;
    border: 0;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
      background: $color-white;
      color: $color-dark-blue;
      border: 0 solid $color-background-blue;
      transition: all .2s linear;
    }
    &:focus {
      outline: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .notFound {
    padding: 50px 15px;
  }
}