.page-title {
  font-family: $font-family--montserrat;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: $color-dark-blue;
  margin: 0;
  z-index: 6;
  &:after {
    content: "";
    display: block;
    margin: 0 auto 50px auto;
    width: 80px;
    padding-top: 16px;
    border-bottom: 4px solid #ff9700;
    z-index: 6;
  }
  &_very-mini {
    font-size: 20px;
    line-height: 24px;
  }
  &_mini {
    font-size: 24px;
    line-height: 29px;
  }
  &_support {
    text-align: left;
    margin-bottom: 34px;
    &:after {
      display: none;
    }
  }
  &_instructions {
    text-align: left;
    margin-bottom: 26px;
    &:after {
      display: none;
    }
  }
}
@media screen and (max-width: $screen-w--xxs) {
  .page-title {
      font-size: 24px;
      line-height: 1.1;
      &:after {
        margin-bottom: 15px;
      }
  }
}