.software {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 180px 100px 180px;
  position: relative;
  &__title {
    &:after {
      content: "";
      display: block;
      margin: 0 auto 50px auto;
      width: 80px;
      padding-top: 24px;
      border-bottom: 4px solid #ff9700;
    }
  }
  &__grid-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    z-index: 3;
  }
  &__grid-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 61px;
    z-index: 3;
  }
  &__button {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    padding: 14px 81px 14px 81px;
    background: $color-background-blue;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    max-width: 390px;
    cursor: pointer;
    margin: 0 auto;
    transition: all .2s linear;
    &:hover {
      background: $color-white;
      color: $color-dark-blue;
      border: 0 solid $color-background-blue;
      transition: all .2s linear;
    }
    &:focus {
      outline: none;
    }
  }

}
@media screen and (max-width: 1280px) {
  .software {
    &__grid-1 {
      flex-direction: column;
      align-items: center;
    }
    &__grid-2 {
      align-items: center;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 1024px) {
  .software {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 425px) {
  .software {
    padding: 30px 15px;
  }
}