.header {
  background: $color-white;
  position: relative;

  &__logo {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  &__logo-image {
    height: 40px;
    align-self: center;
  }
  &__logo-text {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-blue;
    margin: 0 0 0 18px;
    text-decoration: none;
  }
  &__phone {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-blue;
    margin: 0;
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    transition: opacity .2s linear;


    &:hover {
      opacity: .4;
      transition: opacity .2s linear;
    }
  }
  &__upper-menu {
    padding: 20px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__start-button {
    padding: 12px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-dark-blue;
    border: 2px solid $color-background-blue;
    box-sizing: border-box;
    border-radius: 5px;
    background: $color-white;
    width: 195px;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
      background-color: $color-background-blue;
      color: $color-white;
      transition: all .2s linear;
    }
    &:focus {
      outline: none;
    }
  }
  &__lk-button {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: $color-background-blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $color-white;
    width: 195px;
    border: 0;
    min-height: 48px;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
      background: $color-white;
      color: $color-dark-blue;
      border: 2px solid $color-background-blue;
      transition: all .2s linear;
    }
    &:focus {
      outline: none;
    }
  }
}
@media screen and (min-width: $screen-w--xxl) {
  .header {
    &__upper-menu {
      padding: 20px 200px;
    }
  }
}
@media screen and (max-width: $screen-w--l) {
  .header {
    &__upper-menu {
      padding: 20px 50px;
    }
  }
}
@media screen and (max-width: 950px) {
  .header {
    &__phone,
    &__lk-button,
    &__start-button {
      display: none;
    }
  }
}
@media screen and (max-width: $screen-w--xxs) {
  .header {
    &__logo-text {
      font-size: 16px;
      line-height: 1.1;
    }
    &__upper-menu {
      padding: 15px;
    }
  }
}