.profile-settings {
  max-width: 754px;
  margin: 0 auto;
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &_row {
    margin-bottom: 31px;
    width: 100%;
    max-width: 1150px;
    align-self: center;
  }
  &_lk {
    margin: 0 30px 30px 0;
  }
  &_small {
    margin-right: 0;
  }
  &_rates {
    width: 560px;
    margin: 0;
  }
  &_add {
    margin-bottom: 0;
    height: 100%;
  }
  &_program {
    margin: 0 29px 29px 0;
  }
  &_company {
    max-width: 800px;
  }
  &_clients {
    max-width: 654px;
  }
  &__title-wrapper {
    background: #C8E3FF;
    padding: 18px 0 18px 0;
  }
  &__title {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-dark-blue;
    margin: 0;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 557px;
    margin: 0 auto;
    padding: 46px 0 60px 0;
    &_company {
      max-width: 800px;
    }
  }
  &__label {
    margin-bottom: 38px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  &__text {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: $color-gray--d10;
    margin: 0;
    width: 144px;
    &_textarea {
      padding-top: 35px;
    }
    &_company {
      width: 250px;
    }
  }
  &__next-title {
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-dark-blue;
    margin: 0 0 22px 0;
  }
  &__button {
    background: #3685D7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
    border: 0;
    cursor: pointer;
    transition: all .2s linear;
    width: 220px;
    height: 40px;
    &:hover {
      background: $color-white;
      color: $color-dark-blue;
      border: 0 solid $color-background-blue;
      transition: all .2s linear;
    }
    &:focus {
      outline: none;
    }
  }
  &__input {
    background: #FFFFFF;
    border: 1px solid rgba(52, 52, 52, 0.2);
    box-sizing: border-box;
    margin-left: 63px;
    font-family: $font-family--montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 350px;
    color: $color-gray--d10;
    &_textarea {
      height: 90px;
    }
    &::placeholder {
      color: inherit;
    }
    &_disabled {
      background-color: inherit;
      border: 0;
    }
  }
}
@media screen and (max-width: 1280px) {
  .profile-settings {
    &_lk {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1140px) {
  .profile-settings {
    &_program {
      margin: 0 0 30px 0;
    }
  }
}
@media screen and (max-width: 1024px) {
  .profile-settings {
    &_employees {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .profile-settings {
    &_lk {
      max-width: 400px;
      width: 100%;
    }
    &_row {
      max-width: 500px;
    }
    &__form {
      padding: 15px;
    }
    &__label {
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
    }
    &__input {
      margin: 15px 0 0 0;
      max-width: 250px;
      &::placeholder {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .profile-settings {
    &_program {
      max-width: 280px;
    }
  }
}